node_modules
.env
.claude
distribute/
/out/make
/.vite/build
/.vite/renderer
/out
/.vite/build
/.vite/build
.vite/build/icons.js
.vite/build/icons.js
.vite/build/main.js
.vite/build/preload.js
Examples/*